* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* sharde css  */
.title_light_gray {
  color: #727272;
  line-height: 26px;
}

.btn_primary {
  padding: 10px;
  border-radius: 8px;
  background: #ff900e;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: aliceblue;
}
/* header css start */

header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.nav-list {
  display: flex;
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  margin-left: 20px;
}
.banner {
  width: 1440px;
  margin: 0 auto;
}
.banner_text {
  text-align: center;
}
.banner_img {
  border-radius: 8px;
  width: 100%;
  margin: 2.5rem;
  margin: 0 auto;
}

/* Features css start */

.featutes_text {
  margin-left: 4.2rem;
}
.features {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.feature_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.quic_list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}

/* .feature-message {
  margin: 1.5rem;
} */

.feature_design {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}

.feature2 {
  margin-top: 120px;
  display: flex;
  margin-left: 5rem;
}
.featuer2-text {
  margin: 30px;
  width: 50%;
}
.baddage {
  margin: 30px;
  width: 50%;
  padding-right: 50px;
}
.baddage > img {
  height: 70%;
  margin-left: 25px;
  margin-right: 20px;
}
.featuer2-header {
  padding-left: 20px;
}
.featuer2-header-sidebar {
  border-left: 5px solid #ff900e;
}
.card {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.card_title {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience_box {
  width: 342px;
  height: 200px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 8px;
  background: #ff900e;
  position: relative;
  bottom: 100px;
}
.experience_box_title {
  color: #fff;
  font-size: 4rem;
  padding: 10px;
  font-weight: 700;
}
.box-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}
/* Features css end */
